<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <style>
        html {
            font-family: sans-serif;
        }
        span.strike {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <h1>Todos</h1>
    
    <div id="app">
        <ul>
            <li v-for="todo, index of state.todos">
                <span v-if="todo.done" class="strike">{{todo.text}}</span>
                <span v-else>{{todo.text}}</span>
                &nbsp;
                <button v-if="todo.done" v-on:click="todo_delete(index)">❌</button>
                <button v-else v-on:click="todo_done(index)">✅</button>
            </li>
        </ul>
        <input type="text" placeholder="Neues Todo" 
            v-model="state.new_todo" 
            v-on:keydown.enter="todo_save"
            v-on:keydown.esc="state.new_todo = ''">
        <button v-on:click="todo_save">Speichern</button>
    </div>

    <script type="module">
        import {createApp, reactive} from "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        import axios from 'https://cdn.skypack.dev/axios'

        function setup() {
            var state = reactive({
                "todos": [],
                "new_todo": "",
            })

            async function get_todos() {
                var response = await axios.get("/api/todos/")
                state.todos = response.data
            }
            get_todos()

            async function todo_save() {
                await axios.post("/api/todos/", {"text": state.new_todo})
                state.new_todo = ""
                get_todos()
            }

            async function todo_done(index) {
                var response = await axios.put("/api/todos/" + index, {done: true})
                get_todos()
            }

            async function todo_delete(index) {
                var response = await axios.delete("/api/todos/" + index)
                get_todos()
            }

            return {
                "state": state,
                "todo_save": todo_save,
                "todo_done": todo_done,
                "todo_delete": todo_delete,
            }
        }

        var app = createApp({"setup": setup})
        app.mount("#app")
    </script>
</body>
</html>
